@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.reviews::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

.reviews::-webkit-scrollbar-track {
  background-color: #eff0f5;
}

.reviews::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 16px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.reviews::-webkit-scrollbar-thumb:hover {
  background-color: grey; /* Color of the thumb on hover */
}

/* Firefox */
.reviews {
  scrollbar-width: auto; /* Thin scrollbar for Firefox */
  scrollbar-color: grey; /* Color of the scrollbar thumb and track */
}

:root {
  --primary-color: #0d6efd;
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 90%);
  --fg: hsl(var(--hue), 90%, 10%);
  --trans-dur: 0.3s;
}

.red {
  color: red !important;
}
.green {
  color: #4bb543 !important;
}

.icons {
  display: none;
}
.navbar-logo {
  width: 180px;
  height: 40px;
  cursor: pointer;
}
.tomato {
  color: tomato;
}
.margin-0 {
  margin: 0;
}
.nav-item {
  transition: 0.2s ease;
  border-radius: 10px;
}
.nav-item:hover {
  background-color: gainsboro;
}
.navbar-collapse ul {
  display: flex;
  gap: 5px;
}
.cursor {
  cursor: pointer;
}
.profile-icon {
  font-size: 30px;
}
.shoppingcart-mobile {
  width: 18px;
  height: 18px;
}
.rounded-circle {
  margin-right: 10px;
}
.banner {
  min-height: 94vh;
  margin-top: 56px;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-text h1 {
  font-family: "Public Sans", sans-serif;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px black;
}
.banner-text span {
  color: violet;
  -webkit-text-stroke: 0px black;
}
.scroll-btn {
  border: 2px solid transparent;
  padding: 14px 30px;
  background-color: white;
}
.scroll-btn:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
.section-header {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.card img {
  width: 90%;
  height: 400px;
  margin: auto;
}
.cards {
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  text-decoration: none;
  transition: 0.2s ease;
  width: 380px;
}
.text-truncate {
  width: 385px;
  height: 50px;
}
.card p {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 50px;
}
.ratings {
  align-items: center;
}

.price {
  color: tomato;
  font-size: 20px;
}
.cart {
  margin-left: 5px;
}
.card:hover {
  box-shadow: 0px 0px 5px rgba(15, 15, 15, 0.26);
}

/* *Loader Styles */
.loader-body {
  color: var(--fg);
  font: 1em/1.5 sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}
.smiley {
  width: 8em;
  height: 8em;
}
.smiley__eye1,
.smiley__eye2,
.smiley__mouth1,
.smiley__mouth2 {
  animation: eye1 3s ease-in-out infinite;
}
.smiley__eye1,
.smiley__eye2 {
  transform-origin: 64px 64px;
}
.smiley__eye2 {
  animation-name: eye2;
}
.smiley__mouth1 {
  animation-name: mouth1;
}
.smiley__mouth2 {
  animation-name: mouth2;
  visibility: hidden;
}
/* *Loader Styles */
.product-details {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
}

.details-left {
  width: 20%;
  height: 100%;
}

.details-left .Carousel {
  height: 100%;
}

.details-left .Carousel img {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 400px;
}

.details-right {
  width: 40%;
}
.product-details h5 {
  font-family: "Public Sans", sans-serif;
  margin-right: 10px;
  margin-top: 6px;
}
.product-price h3 {
  font-family: "Public Sans", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}
.product-status h5 {
  color: grey;
}
.quantity {
  flex-wrap: wrap;
}
.quantity p {
  color: grey;
  font-size: 18px;
  /* margin-right: 2rem; */
}
.counter-input {
  outline: none;
  border: none;
  width: 5rem;
  padding: 6px;
  background-color: white;
}
.reviews-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-section hr {
  width: 200px;
}

.review-heading {
  color: grey;
}
.error-404 {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-button {
  font-weight: 600;
  font-size: 20px;
  width: 200px;
}
.reviews {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  overflow: auto;
  /* gap: 20px; */
  padding: 20px 0;
}
.review-container {
  width: 300px;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #eff0f5;
  border-radius: 4px;
  margin-left: 20px;
}
.review-container p {
  padding: 0 14px;
  font-size: 14px;
  margin: 0;
}
.review-container img {
  width: 50px;
}

.submit-dialog {
  display: flex;
  flex-direction: column;
}
.submit-dialog-textarea {
  border: 1px solid rgba(0, 0, 0, 0.082);
  margin: 1vmax 0;
  outline: none;
  padding: 1rem;
  font: 300 1rem "Roboto";
}
.description {
  color: grey;
  padding: 0 5rem;
}
.description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description-section hr {
  width: 200px;
}
.description-heading {
  color: grey;
}
/* Animations */
@keyframes eye1 {
  from {
    transform: rotate(-260deg) translate(0, -56px);
  }
  50%,
  60% {
    animation-timing-function: cubic-bezier(0.17, 0, 0.58, 1);
    transform: rotate(-40deg) translate(0, -56px) scale(1);
  }
  to {
    transform: rotate(225deg) translate(0, -56px) scale(0.35);
  }
}
@keyframes eye2 {
  from {
    transform: rotate(-260deg) translate(0, -56px);
  }
  50% {
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
  }
  52.5% {
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1, 0);
  }
  55%,
  70% {
    animation-timing-function: cubic-bezier(0, 0, 0.28, 1);
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
  }
  to {
    transform: rotate(150deg) translate(0, -56px) scale(0.4);
  }
}
@keyframes eyeBlink {
  from,
  25%,
  75%,
  to {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}
@keyframes mouth1 {
  from {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 351.86;
    stroke-dashoffset: 0;
  }
  25% {
    animation-timing-function: ease-out;
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1, start);
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: -175.93;
    visibility: visible;
  }
  75%,
  to {
    visibility: hidden;
  }
}
@keyframes mouth2 {
  from {
    animation-timing-function: steps(1, end);
    visibility: hidden;
  }
  50% {
    animation-timing-function: ease-in-out;
    visibility: visible;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -351.86;
  }
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 10%);
    --fg: hsl(var(--hue), 90%, 90%);
  }
}

/* Meadia Queries */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .settings-short {
    display: none !important;
  }

  .card {
    width: 200px;
  }
  .cards {
    gap: 50px;
  }
  .text-truncate {
    width: 200px;
  }
  .card img {
    width: 90%;
    height: 250px;

    margin: auto;
  }
}

@media only screen and (max-width: 992px) {
  .settings-full {
    display: none !important;
  }
  .details-right {
    width: 70%;
  }
  .description {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .banner {
    clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
  }
  .icons {
    display: block;
  }
  .product-details {
    flex-direction: row;
    padding: 1rem;
  }
  .details-left {
    width: 100%;
  }
  .details-right {
    width: 100%;
  }
  .quantity {
    justify-content: center;
  }
  .product-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-reviews {
    justify-content: center;
  }
  .product-status {
    justify-content: center;
  }
  .product-price {
    justify-content: center;
  }
  .description {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 457px) {
  .counter-input {
    width: 2rem;
    padding: 6px;
  }
  .description {
    color: grey;
    padding-left: 1em;
    padding-right: 0;
  }
}

@media only screen and (min-width: 360px) and (max-width: 450px) {
  .card {
    width: 180px;
  }
  .cards {
    gap: 20px;
  }

  .banner {
    min-height: 92vh;
  }
  .banner-text h3 {
    font-size: 1rem;
  }
  .text-truncate {
    width: 180px;
  }
  .card img {
    width: 90%;
    margin: auto;
    height: 200px;
  }
  .ratings {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 384px) {
  .card img {
    width: 90%;
    margin: auto;
    height: 170px;
  }

  .card {
    width: 150px;
  }
  .text-truncate {
    width: 150px;
    height: 50px;
  }
  .ratings {
    flex-direction: column;
    align-items: flex-start;
  }
}
