/client//node_modules
/client//.pnp
/client/.pnp.js
/node_modules



/client//coverage


/client//build


/node_modules/

/server/.env
/client/.DS_Store
/client/.env.local
/client/.env.Development.local
/client/.env.test.local
/client/.env.production.local


npm-debug-log*
yarn-debug-log*
yarn-error-log*