.add-product-form {
  margin-top: 57px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.add-product-form h1 {
  color: #0d6efd;
  font: 600 2rem "Public Sans";
}
.add-product {
  display: flex;
  width: 100%;
  border-left: 1px solid grey;
}

.dashboard {
  background-color: white;
}

.product-add-left {
  width: 50%;
  display: flex;
  padding: 30px;
  flex-direction: column;
}
.input {
  display: flex;
  flex-direction: column;
}
.input input,
select {
  margin-bottom: 30px;
  padding: 10px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}
input:focus {
  border: 2px solid #0d6efd;
  outline: none;
}
select:focus {
  border: 2px solid #0d6efd;
  outline: none;
}
textarea {
  border: 2px solid #f0f0f0;
  padding: 5px;
}
textarea:focus {
  border: 2px solid #0d6efd;
  outline: none;
}
input[type="file"] {
  padding: 10px 0;
  background-color: #f0f0f0;
}
input[type="file"]:focus + label {
  outline: 2px solid #0d6efd;
  outline: -webkit-focus-ring-color auto 5px;
}
.input label {
  color: grey;
}

.double-input {
  width: 100%;
  flex-direction: row !important;
  gap: 10%;
}
.double-input div {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.add-btn {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.product-add-right {
  width: 50%;

  padding: 30px;
}
.image-preview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid #f0f0f0;
}

.image-preview img {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
}
@media screen and (max-width: 600px) {
  .add-product {
    flex-direction: column;
    border: none;
  }
  .product-add-left {
    width: 100%;
  }
  .product-add-right {
    width: 100%;
  }
  .image-preview img {
    width: 100px;
    height: 100px;
    margin: 5px;
  }
}
